<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Repositioty</title>
</head>
<body>
   
<h1>
    Recipe Repo
</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Recipe Repo
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">My Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Top Trending Recipes (After MVP)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> 

<section class="pics" id="slideshow">
      <h3>Slideshow</h3>
      <div>
          {{!-- have to add slideshow to show different food items that we provide --}}
      </div>
    </section>

    <section class="page-section" id="about">
      <h3>Our Story</h3>
      <div>
        <p>
          We are a group of creative eaters who want to promote recipes from aroudn the world... to be continued
        </p>
      </div>
    </section>
<!-- footer -->
  <footer>
    <h2>❤️ Recipe Repo helping you express your inner chef .</h2>
    <div>
       2022 Recipe Repositiory, Inc.
    </div>
  </footer>
</body>
</html>
