<div class="container">
    <div class="grid-container" >
        {{#each categories}}
        <div><h2>{{str_category}}</h2>
        <br>
       <img src="{{str_category_thumb}}">
        <br>
        <h3>{{str_category_description}}</h3>
        </div>
        {{/each}}
    </div>
</div>