
<div class="row justify-content-evenly">
    {{#each categories}}
  <div class="col-3">
    <div class="card h-100 mb-3">
      <img src="{{str_category_thumb}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{str_category}}</h5>
        <p class="card-text">{{str_category_description}}</p>
        <a href="/category/{{id_category}}" class="btn btn-primary">View Recipes</a>
      </div>
    </div>
  </div>
  {{/each}}

