.userProfileImage { 
  width: 8%; 
  height: 8%;
  margin-top: 0%; 
}

.userProfileContainer { 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  padding-top: 8%;
  width: calc(100% - 20px);
  MAX-WIDTH: 1750PX;
  MARGIN: 0 AUTO;
}



.userProfileName { 
  margin-top: -0.1%; 
  padding-right: 8px; 
  padding-left: 8px; 
  margin-left: 5%; 
  color: black; 
}

.userProfileFollowButtons { 
  margin-top: 1%;
}



.userProfileSelectContainer { 
  display: flex; 
  justify-content: center;
  padding-left: 80px;
}

.userProfileHeading { 
  display: flex; 
  justify-content: center;
  MAX-WIDTH: 1050PX;
  MARGIN: 0 AUTO;
}

.selectUserRecipeTagline{ 
  margin-top: 20px; 
}


.userProfileFollowInfo { 
  margin-top: 5%; 
  display: flex; 
  justify-content: space-around;
  width: 300px;
  margin-left: -18.2%; 
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .userProfileContainer { 
    width:98%;
  }
  .userProfileFollowButtons { 
    display: block;
  }

  .selectUserRecipeTagline{ 
    margin-top: 10px; 
  }

  .userProfileHeading {
    flex-direction: column;
    align-items: center;
    padding-top: 30px; 
  }

  .userProfileFollowInfo { 
    margin-top: 5%; 
    display: flex; 
    justify-content: space-around;
    width: 300px;
    margin-left: 0; 
  }

  .userProfileName { 
    margin: 0; 
  }

}

.userProfileFollowButton { 
  background-color: rgb(255, 102, 0); 
  color: white; 
  border: none; 
  border-radius: 1px; 
  width: 90px; 
  height: 25px; 
  font-size: 15px; 
}

.select-style {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 145px;
  height: 25px; 
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
  z-index: 1; 
  margin-top: 15px; 
  margin-left: 1%; 
}

.select-style:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.select-style select {
  padding: 2px 9px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select-style select:focus {
  outline: none;
}

.userProfileAllRecipes { 
  display: flex; 
  justify-content: center;
  flex-wrap: wrap; 
}